.DS_STORE
src/style/sources.html
*copy
index copy.html
style copy.css
reset copy.css
.gitignore
/Users/mohammedabdulabi/Desktop/Semester-Project-1/index copy.html
/Users/mohammedabdulabi/Desktop/Semester-Project-1/assets/style/style copy.css
/Users/mohammedabdulabi/Desktop/Semester-Project-1/assets/style/reset copy.css