/*------------------------------------------------EVENT------------------------------------*/
#event {
  gap: 1rem;
  padding: 0.5rem;
}

.event-header h2 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 2rem;
  text-align: left;
}

.event-items {
  display: flex;
  flex-direction: row;
}

.event-p p,
.event-header p {
  text-align: left;
}

.event-p p,
.roberto {
  flex: 1 1 0;
}

.news-sub-header {
  text-decoration: underline;
}

.event-p,
.event-p p {
  margin-bottom: 2rem;
}
.event-p p,
.news-sub-header {
  margin-bottom: 0.5rem;
}

.event-items {
  padding: 1.25rem 0rem;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
}

.roberto {
  max-width: 50%;
}


#ecology {
  margin-bottom: 9.38rem;
}



/* M screens */
@media (max-width: 56.25rem) {
  .container {
    max-width: 37.5rem;
  }
  .event-items {
    flex-direction: column;
  }
  .roberto {
    flex: 1 1 0;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
  .event-heading h1 {
    font-size: 2.5rem;
  }
  .event-header h2 {
    font-size: 1.5rem;
  }
}

/* S screens */
@media (max-width: 37.5rem) {
  .container {
    max-width: 23.125rem;
  }
  .event-heading h1 {
    padding: 4rem 0rem 1.75rem 0rem;
  }
}
/* XS screens */
@media (max-width: 23.1250.5rem) {
  .container {
    max-width: 100%;
  }
}


/* 2xl
@media (max-width: 96rem) {
  .container {
    max-width: 80rem;
  }
}

xl
@media (max-width: 80rem) {
  .container {
    max-width: 64rem;
  }
}

lg
@media (max-width: 64rem) {
  .container {
    max-width: 48rem;
  }
  .event-items {
    flex-direction: column;
  }
  .roberto {
    flex: 1 1 0;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
  .event-heading h1 {
    font-size: 2.5rem;
  }
  .event-header h2 {
    font-size: 1.5rem;
  }
}

md
@media (max-width: 48rem) {
  .container {
    max-width: 40rem;
  }
}

sm
@media (max-width: 40rem) {
  .container {
    max-width: 29.688rem;
  }
  .event-heading h1 {
    padding: 4rem 0rem 1.75rem 0rem;
  }
}

xs
@media (max-width: 29.688rem) {
  .container {
    width: 100%;
  }
} */
