/*------------------------------------------------EVENT------------------------------------*/
#event {
  gap: 1rem;
  padding: 0.5rem;
}
#event-content {
  scroll-margin-top: 7.5rem;
}

.event-header {
  margin-bottom: 2rem;
}
.event-header h2 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 2rem;
  text-align: left;
}

.event-items {
  display: flex;
  flex-direction: row;
}

.event-p p,
.event-header p {
  text-align: left;
}

.event-p p,
.roberto {
  flex: 1 1 0;
}

.news-sub-header {
  font-weight: 700;
}

.event-p,
.event-p p {
  margin-bottom: 0.5rem;
}
.news-sub-header {
  margin-bottom: 0.5rem;
}

.event-items {
  padding: 1.25rem 0rem;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
}

.roberto {
  max-width: 70%;
}

#ecology {
  margin-bottom: 9.38rem;
}

/* XL screens */
@media (max-width: 75rem) {
  .container {
    max-width: 56.25rem;
  }
  .event-items {
    flex-direction: column;
  }
  .roberto {
    flex: 1 1 0;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/* M screens */
@media (max-width: 56.25rem) {
  .container {
    max-width: 37.5rem;
  }

  .event-heading h1 {
    font-size: 2.5rem;
  }
  .event-header h2 {
    font-size: 1.5rem;
  }
}

/* S screens */
@media (max-width: 37.5rem) {
  .container {
    max-width: 23.125rem;
  }
  .event-heading h1 {
    padding: 4rem 0rem 1.75rem 0rem;
  }
}
/* XS screens */
@media (max-width: 23.1250.5rem) {
  .container {
    max-width: 100%;
  }
}
