/*------------------------------------------------explore------------------------------------*/
#exhibition,
#ecology {
  gap: 2rem;
}

#cosmology {
  gap: 1rem;
}
#cosmology-heading-h2,
#evolution-heading-h2,
#biology-medicine-header-h2,
#robotic-ai-header-h2,
.ecology-header h2 {
  scroll-margin-top: 7.5rem;
  padding-top: 1rem;
}
.cosmology-heading h2,
.evolution-heading h2,
.biology-medicine-header h2,
#ecology h2 {
  padding-bottom: 1rem;
  text-align: left;
}

.solar-exploration,
.biology-medicine-content {
  display: flex;
  flex-direction: row;
}

.cosmology-heading p,
.solar-exploration p,
#evolution p,
.biology-medicine-p p,
#ecology p {
  text-align: left;
  flex: 1 1 0;
}
.biology-medicine-p p {
  margin-bottom: 2rem;
}

.solar-exploration-img {
  flex: 1 1 0;
}

.solar-exploration {
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
}

.biology-medicine-content {
  padding: 1.25rem 0rem;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
}

#ecology {
  margin-bottom: 4.38rem;
}
/*------------------------------------------------MEDIA QUERY------------------------------------*/
/* exhibition */
/* XXL screens  */
@media (max-width: 96rem) {
  .container {
    max-width: 75rem;
  }
}

/* XL  */
@media (max-width: 75rem) {
  .container {
    max-width: 56.25rem;
  }
}

/* M screens */
@media (max-width: 56.25rem) {
  .container {
    max-width: 37.5rem;
  }
  .exhibition-heading h1 {
    padding: 2rem 0rem 1.75rem 0rem;
  }
  .solar-exploration,
  .biology-medicine-content {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .biology-medicine-p {
    display: flex;
    flex-direction: column;
  }
  .biology-medicine-p p {
    margin-bottom: 1rem;
  }
  .samuel,
  .solar-exploration img,
  .billetto {
    flex: 1 1 0;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
  }
  .exhibition-heading h1 {
    padding: 4rem 0rem 0.75rem 0rem;
  }
  #exhibition,
  #ecology {
    gap: 0rem;
  }
}

/* S screens */
@media (max-width: 37.5rem) {
  .container {
    max-width: 23.125rem;
  }
  .cosmology-heading h2,
  .evolution-heading h2,
  .biology-medicine-header h2,
  #ecology h2 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .biology-medicine-content {
    padding: 0rem;
  }
  #ecology,
  #cosmology,
  #biology-medicine,
  #evolution,
  #robotics-ai {
    padding: 0rem 0.5rem 2rem 0.5rem;
  }
  #exhibition h1 {
    font-size: 2rem;
    padding: 2rem 0rem 1.75rem 0rem;
    margin-bottom: 0rem;
  }
}
/* XS screens */
@media (max-width: 23.1250.5rem) {
  .container {
    max-width: 100%;
  }
}
