#exhibition,
.evolution-heading,
#robotics-ai,
#ecology {
  display: flex;
  flex-direction: column;
}
#exhibition,
#ecology {
  gap: 2rem;
}

.exhibition-heading h1 {
  display: flex;
  padding: 9rem 0rem 3.75rem 0rem;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1.87rem;
}

#cosmology {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.cosmology-heading h2,
.evolution-heading h2,
.biology-medicine-header h2,
#ecology h2 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 2rem;
  text-align: left;
}

.solar-exploration,
.biology-medicine-content {
  display: flex;
  flex-direction: row;
}

.cosmology-heading p,
.solar-exploration p,
#evolution p,
.biology-medicine-p p,
#ecology p {
  text-align: left;
  flex: 1 1 0;
}
.biology-medicine-p p {
  margin-bottom: 2rem;
}

.celso,
.solar-exploration img,
#evolution img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
#evolution img {
  aspect-ratio: 16 / 9;
  overflow-x: hidden;
}
.solar-exploration-img {
  flex: 1 1 0;
}

.solar-exploration {
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
}

.biology-medicine-content {
  padding: 1.25rem 0rem;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
}

.samuel,
.billetto {
  flex: 1 1 0;
  max-width: 40%;
  width: 100%;
  object-fit: cover;
}

#ecology {
  margin-bottom: 9.38rem;
}

/* lg */
@media (max-width: 64rem) {
  .container {
    max-width: 48rem;
  }
  .exhibition-heading h1 {
    padding: 2rem 0rem 1.75rem 0rem;
  }
}

/* md */
@media (max-width: 48rem) {
  .container {
    max-width: 40rem;
  }
  .solar-exploration,
  .biology-medicine-content {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .biology-medicine-p {
    display: flex;
    flex-direction: column;
  }
  .biology-medicine-p p {
    margin-bottom: 1rem;
  }
  .samuel,
  .solar-exploration img,
  .billetto {
    flex: 1 1 0;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
  }
  .exhibition-heading h1 {
    font-size: 2.5rem;
    padding: 4rem 0rem 0.75rem 0rem;
  }
  #exhibition,
  #ecology {
    gap: 0rem;
  }
}

/* sm */
@media (max-width: 40rem) {
  .container {
    max-width: 29.688rem;
  }
  .cosmology-heading h2,
  .evolution-heading h2,
  .biology-medicine-header h2,
  #ecology h2 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .biology-medicine-content {
    padding: 0rem;
  }
  #ecology,
  #cosmology,
  #biology-medicine,
  #evolution,
  #robotics-ai {
    padding: 0rem 0.5rem 2rem 0.5rem;
  }
}

/* xs */
@media (max-width: 29.688rem) {
  .container {
    width: 100%;
  }
}
