#kids,
#teachers,
.cta-links-container,
.left-content,
.right-content,
.explore-heading,
.teachers-headin,
.kids-list,
.items-one {
  display: flex;
  flex-direction: column;
}

#kids,
.vr-wrapper,
.bottom-content,
.library,
.researchers-bottom {
  padding: 1.25rem 0.5rem;
}

.explore-heading {
  padding: 3rem 0rem 3.75rem 0rem;
  gap: 3.75rem;
  align-items: center;
}
.teachers-heading {
  padding: 9.375rem 0rem;
  gap: 3.75rem;
}
.explore-heading h1 {
  margin: 0 auto;
}

.explore-heading p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 400;
  padding-bottom: 4rem;
}
.explore-heading p {
  text-align: center;
}

.teachers-heading p,
.items-one p,
.teachers-heading {
  text-align: start;
}

.kids-list h2,
.teachers-heading h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
}

.items-one {
  flex: 1;
  text-align: start;
  padding: 2rem 0rem;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
}

.items-one img,
.library img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cta-buttons {
  padding: 1rem 6rem !important;
  margin-bottom: 8.38rem;
}

.library {
  align-items: start;
}

.library-text {
  gap: 1rem;
}

.library-text p,
.right-content p,
.left-content p,
.bottom-content p {
  text-align: left;
  margin-bottom: 1.75rem;
}

.vr-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 2.75rem;
}

.bottom-content,
.library {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.75rem;
}

.left-content img,
.right-content img,
.bottom-content img,
.left-column img,
.right-column img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.left-content-paragraph {
  margin-top: 1.75rem;
}

#teachers .cta-links-container {
  margin-top: 5.62rem;
}

#researchers {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 5rem;
  padding: 6.25rem 0.5rem 9.375rem 0.5rem;
}

.researchers-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.researchers-content h2 {
  font-size: 2rem;
  margin: 0 auto;
  padding-bottom: 5rem;
  font-weight: 600;
}

.researchers-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.75rem;
  border-bottom: 0.001rem solid var(--Button-Secondary);
}

.researchers-bottom p {
  text-align: start;
  padding-bottom: 1.75rem;
}

#researchers .cta-links-container a:nth-child(1) {
  background-color: var(--Button-Secondary);
}

/* 2xl */
@media (max-width: 96rem) {
  .container {
    max-width: 80rem;
  }
}

/* xl */
@media (max-width: 80rem) {
  .container {
    max-width: 64rem;
  }
}

/* lg */
@media (max-width: 64rem) {
  .container {
    max-width: 48rem;
  }
  .explore-heading {
    padding: 2rem 0rem;
    gap: 1.75rem;
  }
  .explore-heading h1 {
    padding: 1rem 0rem 1.75rem 0rem;
  }
  .library {
    display: grid;
    grid-template-columns: 1fr;
  }
  .teachers-heading {
    display: flex;
    padding: 4rem 0rem;
    flex-direction: column;
    gap: 1.75rem;
  }
  .teachers-heading p {
    text-align: left;
  }
}

/* md */
@media (max-width: 48rem) {
  .container {
    max-width: 40rem;
  }
  .explore-heading h1 {
    font-size: 2.5rem;
    padding: 4rem 0rem 3.75rem 0rem;
  }
  .explore-heading p {
    font-size: 1rem;
  }
  .explore-heading,
  .explore-heading p {
    text-align: left;
  }
  .vr-wrapper,
  .bottom-content,
  .researchers-bottom {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.5rem 0rem;
    gap: 2.75rem;
  }
  #researchers {
    padding: 0;
  }
}

/* sm */
@media (max-width: 40rem) {
  .container {
    max-width: 29.688rem;
  }
}

/* xs */
@media (max-width: 29.688rem) {
  .container {
    width: 100%;
  }
  .kids-list h2,
  .teachers-heading h2,
  .researchers-content h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    text-align: start;
  }
  .kids-list h2,
  .researchers-content h2,
  .explore-heading h1,
  .teachers-heading h2 {
    margin: 0;
    padding: 0rem;
  }

  .teachers-heading {
    display: flex;
    padding: 1rem 0rem;
    flex-direction: column;
    gap: 1.75rem;
  }
  .cta-buttons {
    padding: 1rem 2rem !important;
  }
}
