* {
  text-align: left !important;
}
p {
    line-height: 1.5rem;
  }

h1 {
  text-align: center !important;
}
.section-header {
  font-size: 1.5rem !important;
}

h2,
.hours {
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

article {
  margin-bottom: 1rem;
}

#info {
    padding: 1.25rem .5rem;
}

article p,
.use-of-info ul li {
  font-size: 0.8rem;
}


.hours {
  padding-top: 1rem;
}

.map {
  width: 100%;
  height: 100%;
  border: none;
}

.row-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 2fr);
  gap: 2rem;
}

.row-left {
  grid-column: span 1;
  grid-row: span 2;
  text-align: left;
}
.row-right {
  grid-column: span 1;
  grid-row: span 2;
}

#privacy-policy p,
#terms-conditions p {
  font-size: .5rem !important;
  line-height: .5rem !important;
  margin-bottom: 2rem;
}

.privacy-policy,
.terms-conditions,
 #get-involved {
    margin-top: 4rem; 
}
.use-of-info ul {
    padding-left: 2rem;
}
.use-of-info ul li {
    color: var(--Paragraph-Color);
    font-size: 0.8rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem !important;
    
  }
.info-collect p span,
.info-no-collect p span,
.use-website p span,
.content p span {
    font-weight: 600;
}

.copyright p {
    font-size: 0.625rem !important;
    text-align: center !important;
  }



/* 2xl */
@media (max-width: 96rem) {
  .container {
    max-width: 80rem;
  }
}

/* xl */
@media (max-width: 80rem) {
  .container {
    max-width: 64rem;
  }
}

/* lg */
@media (max-width: 64rem) {
  .container {
    max-width: 48rem;
  }
  .row-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .row-left,
  .row-right {
    grid-column: span 2;
    grid-row: span 2;
  }
}

/* md */
@media (max-width: 48rem) {
  .container {
    max-width: 40rem;
  }
}

/* sm */
@media (max-width: 40rem) {
  .container {
    max-width: 29.688rem;
  }
}

/* xs */
@media (max-width: 29.688rem) {
  .container {
  }
}
