/*------------------------------------------------INFO------------------------------------*/
* {
  text-align: left !important;
}
p {
  line-height: 1.5rem;
}

h1 {
  text-align: center !important;
}
.section-header {
  font-size: 1.5rem !important;
}

h2,
.hours {
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

article {
  margin-bottom: 0.5rem;
}

#info {
  padding: 1.25rem 0.5rem;
}

article p,
.use-of-info ul li {
  font-size: 0.8rem;
}

.hours {
  padding-top: 1rem;
}

.map {
  width: 100%;
  height: 100%;
  border: none;
}

.row-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 2fr);
  gap: 2rem;
}

.row-left {
  grid-column: span 1;
  grid-row: span 2;
  text-align: left;
}
.row-right {
  grid-column: span 1;
  grid-row: span 2;
}

#privacy-policy p,
#terms-conditions p {
  font-size: 0.5rem !important;
  line-height: 0.5rem !important;
  margin-bottom: 2rem;
}

.privacy-policy,
.terms-conditions,
#get-involved {
  margin-top: 4rem;
}
.use-of-info ul {
  padding-left: 2rem;
}
.use-of-info ul li {
  color: var(--Paragraph-Color);
  font-size: 0.8rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem !important;
}
.info-collect p span,
.info-no-collect p span,
.use-website p span,
.content p span {
  font-weight: 600;
}

.copyright p {
  font-size: 0.625rem !important;
  text-align: center !important;
}

/*------------------------------------------------MEDIA QUERY------------------------------------*/
/* M screens */
@media (max-width: 56.25rem) {
  .container {
    max-width: 37.5rem;
  }
  .event-items {
    flex-direction: column;
  }
  .roberto {
    flex: 1 1 0;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
  .event-heading h1 {
    font-size: 2.5rem;
  }
  .event-header h2 {
    font-size: 1.5rem;
  }
  .row-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .info-header {
    padding: 2rem 0rem 3.75rem 0rem;
  }
  .info-header {
    margin-bottom: 0;
  }
}

/* S screens */
@media (max-width: 37.5rem) {
  .container {
    max-width: 23.125rem;
  }
}
/* XS screens */
@media (max-width: 23.1250.5rem) {
  .container {
    max-width: 100%;
  }
}
