@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --Dark-navy: #230d51;
  --White: #ffff;
  --Button-Primary: #230d51;
  --Button-Secondary: rgba(23, 26, 32, 0.65);
  --Button-Tertiery: #776696;
  --Background-Footer: #686a6e;
  --Paragraph-Color: #000;
  --border-forms: #dbdee7;
  --Lighter-Primary: #4a2b71;
}

body {
  padding-top: 5rem;
  scroll-behavior: smooth;
}

h1,
h2,
p {
  color: var(--Paragraph-Color);
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  text-align: start;
}

h2 {
  text-align: center;
}

h1 {
  color: var(--Paragraph-Color);
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: normal;
}

h2 {
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 600;
}
h3 {
  font-size: 1.17rem;
  line-height: 2.25rem;
  font-weight: 600;
  text-align: start;
}

p {
  color: var(--Paragraph-Color);
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.25rem;
}

.dropdown-content a:hover,
.dropdown-content a:focus,
.nav-links a:hover,
.nav-links a:focus,
.right-links a:hover,
.right-links a:focus,
.cta-links-container a:hover,
.cta-links-container a:focus,
.footer-column a:hover,
.footer-column a:focus {
  font-weight: bold;
  transition: font-weight 0.5s ease;
}

a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* padding global */

#ecology,
#cosmology,
#biology-medicine,
#evolution,
#robotics-ai {
  padding: 0rem 0.5rem 2rem 0.5rem;
}

/* background-color sections */
#cosmology,
#biology-medicine,
#ecology,
#kids,
#researchers,
#hero-section,
#event {
  background-color: rgb(250, 250, 253);
}
#kids,
.vr-wrapper,
.bottom-content,
.library,
.researchers-bottom,
.teachers-heading,
.contact-container {
  padding: 1.25rem 0.5rem;
}

/* Flex-container */
.main-header,
.main-nav,
.site-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#kids,
#teachers,
.left-content,
.right-content,
.explore-heading,
.teachers-headin,
.kids-list,
.items-one,
#event,
.event-heading,
.event-heading h1,
#exhibition,
.evolution-heading,
#robotics-ai,
#ecology,
.exhibition-heading h1,
#cosmology,
.contact-container,
.contact-details,
#hero-section,
.text-and-links-container,
.footer-column a {
  display: flex;
  flex-direction: column;
}

/* .exhibition-heading h1, */
#exhibition h1,
.event-heading h1,
.info-header,
.contact-heading h1,
.explore-heading {
  padding: 9rem 0rem 3.75rem 0rem;
  text-align: center;
  margin-bottom: 1.87rem;
}

/* Images */
.left-content img,
.right-content img,
.bottom-content img,
.left-column img,
.right-column img {
  height: auto;
  border-radius: 1rem;
}
.left-content img,
.right-content img,
.bottom-content img,
.left-column img,
.right-column img,
.samuel,
.billetto,
.celso,
.solar-exploration img,
#evolution img,
.roberto,
.items-one img,
.library img {
  object-fit: cover;
  width: 100%;
  border-radius: 1rem;
}

.samuel,
.billetto {
  flex: 1 1 0;
  max-width: 40%;
  border-radius: 1rem;
}

.celso,
.solar-exploration img,
#evolution img,
.items-one img,
.library img {
  height: 100%;
}

.roberto,
#evolution img {
  aspect-ratio: 16 / 9;
}
.roberto {
  flex: 1 1 0;
  max-width: 50%;
}

/* Desktop container utility class:  */
.container {
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* XXL screens  */
@media (max-width: 96rem) {
  .container {
    max-width: 75rem;
  }
}

/* XL  */
@media (max-width: 75rem) {
  .container {
    max-width: 56.25rem;
  }
  #footer-column {
    display: none;
  }
  ion-icon {
    font-size: 1.5rem;
  }
  .logo-container p {
    display: none;
  }
}

/* M screens */
@media (max-width: 56.25rem) {
  .container {
    max-width: 37.5rem;
  }
  .menu-icon {
    display: block;
    margin-left: auto;
  }
  .hidden-desktop {
    display: block !important;
  }
  .hidden-mobile {
    display: none !important;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 5rem;
    right: 0;
    background-color: var(--Dark-navy);
    display: none;
  }

  #menu-btn:checked ~ .nav-links {
    display: flex;
    align-items: flex-start;
    padding: 2rem;
  }

  .nav-links li {
    margin-right: 2rem;
  }

  .mobile-hidden {
    display: none !important;
  }
  .nav-links ion-icon {
    display: none;
  }
  .right-links {
    margin-left: 0;
  }
}

/* S screens */
@media (max-width: 37.5rem) {
  .container {
    max-width: 23.125rem;
  }
  .logo-container {
    display: none;
  }
  .main-footer {
    justify-content: space-around;
  }
  .hidden-desktop {
    display: block;
  }
  .footer-column a {
    padding: 0rem;
  }
}
/* XS screens */
@media (max-width: 23.1250.5rem) {
  .container {
    max-width: 100%;
  }
}
