@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --Dark-navy: #230d51;
  --White: #ffff;
  --Button-Primary: #230d51;
  --Button-Secondary: rgba(23, 26, 32, 0.65);
  --Button-Tertiery: #c2bdcc;
  --Background-Footer: #686a6e;
}

body {
  padding-top: 5rem;
}

h1,
h2,
p {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
}
h1 {
  color: #000;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: normal;
}

h2 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 400;
}

p {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.25rem;
}

/* #footer-section {
  display: flex;
  padding: 1.25rem 2.5rem;
  flex-direction: column;
  align-items: center;
  gap: 0;
  align-self: stretch;
} */

a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Desktop container utility class: */
.container {
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* border: solid 4px red; */
}

/* 2xl */
@media (max-width: 96rem) {
  .container {
    max-width: 80rem;
  }
}

/* xl */
@media (max-width: 80rem) {
  .container {
    max-width: 64rem;
  }
}

/* lg */
@media (max-width: 64rem) {
  .container {
    max-width: 48rem;
    #footer-column {
      display: none;
    }
    ion-icon {
      font-size: 1.5rem;
    }
    .logo-container p {
      display: none;
    }
  }
}

/* md */
@media (max-width: 48rem) {
  .container {
    max-width: 40rem;
    .logo-container {
      display: none;
    }

    .main-footer {
      justify-content: space-around;
    }
  }
}

/* sm */
@media (max-width: 40rem) {
  .container {
    max-width: 29.688rem;
  }
}

/* xs */
@media (max-width: 29.688rem) {
  .container {
    width: 100%;
  }
}

/* ------------Navigation ----------------------- */

@media (max-width: 53.25rem) {
  .menu-icon {
    display: block;
    margin-left: auto;
  }
  .hidden-desktop {
    display: block !important;
  }
  .hidden-mobile {
    display: none !important;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 5rem;
    right: 0;
    background-color: var(--Dark-navy);
    display: none;
  }

  #menu-btn:checked ~ .nav-links {
    display: flex;
    align-items: flex-start;
    padding: 2rem;
  }

  .nav-links li {
    margin-right: 2rem;
  }

  .mobile-hidden {
    display: none !important;
  }
  .nav-links ion-icon {
    display: none;
  }
  .right-links {
    margin-left: 0;
  }
}
